@import 'bootstrap.min.css'

body{
    /*background-image: embedurl('../img/bg-t.jpg');*/
    overflow: hidden;
}

.logo {
    background-image: embedurl('../img/iAtlas.png');
    background-repeat:no-repeat;
    font-size:100px;
    width: 350px;
    float:right;
}

.poiret{
    font-family: 'Poiret One';
}


/* Expression 
div.GeneExpressionSummary {
  margin:0px;
  padding:0px;
}

div.GeneExpressionSummary_title {
	font-size:120%;
	font-weight: bold;
	margin-bottom:15px;
}

.GeneExpressionSummary_table{
	margin: 0;
    padding: 0;
    border: 0;
}

div.GeneExpressionSummary table tr td {
	vertical-align:top;
}

div.GeneExpressionSummary table {
	padding-left:20px;
}

div.GeneExpressionSummary_image {
  border: thin silver solid;
}

div.GeneExpressionSummary_image p {
  text-align: justify;
  font-style: italic;
  font-size:85%;
  text-indent: 0;
  margin:10px;
}

.GeneExpressionSummary_subtitle {
	text-transform: uppercase;
	font-size:85%;
	font-weight:bold;
}
.GeneExpressionSummary_feature{
	margin-top:5px;
	margin-bottom:15px;
}

div.GeneExpressionSummary_summary {

}

div.GeneExpressionSummary_footer {
  text-align: justify;
  font-style: italic;
  font-size: 85%;
  text-indent: 0;
}*/

/* Side Menu */
.side_container {
    width:412px;
    height:100%;
    top:50px;
    position:absolute;
    right:-342px;
}

.side_content {
    width:340px;
    height:100%;
    position:absolute;
    right:0;
    margin-left:40px;
    background-color:#f8f8f8;
    overflow-y:scroll;
    padding-left:5px;
    
    -webkit-box-shadow: rgba(0,0,0,0.5) -2px 2px 2px;
    -moz-box-shadow: rgba(0,0,0,0.5) -2px 2px 2px;
    box-shadow: rgba(0,0,0,0.5) -2px 2px 2px;
}

/* Tags Box */
.tagsbox {
    padding:2px;
}

.tagsbox span {
    font-size: 12px; 
    margin: 2px; 
    display: inline-block;
}

.tagsbox span a {
    color: #FFF;
}

/* Logger */
.logger {
    display: block;
    padding: 0.5em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #DD9900;
    -webkit-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px;
    -moz-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px;
    box-shadow: rgba(0,0,0,0.5) 2px 2px 2px;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    border: 1px solid #AAAAAA;
    z-index: 1000;
    min-width: 100px;
    margin-top: 55px;
    margin-right: 10px;
}