<!-- Begin Search -->
<form id='search-form' role="form">
        <div class="jumbotron">
            <table style="width:100%; text-align:right;">
                  <tr>
                      <td><div class='poiret logo'> iAtlas</div></td>
                  </tr>
                  <tr>
                      <td class='poiret msg' style='font-size:20px;'>{{this.count}} unique interactions indexed</td>
                  </tr>
                  <tr id='search'>
                      <td style='width:90%'>
                          <input id="query" type="text" class="form-control">
                      </td>
                      <td style='width:10%'>
                          <button class=" btn btn-lg btn-success" type="submit">GO</button>
                      </td>
                  </tr>
                  <tr id='loading'>
                  </tr>
                  <tr>
                      <td>
                          <a id="explink" href="#">example</a> &middot; 
                          <a id="advlink" href="#">about</a>
                          <!--<a id="advlink" href="#">advanced options</a>-->
                      </td>
                  </tr>
            </table>
            <div id="msg" class="alert alert-info"></div>
          </div>
</form>
<!-- End Search -->