
<blockquote class="form-group col-xs-12">
    <footer>The <mark>concentric</mark> layout positions nodes in concentric circles segregating the nodes into levels based on <mark>node degree</mark>.</footer>
</blockquote>

<div class="form-group col-xs-12">
    <input name="animate" type="hidden" value="false">
    <label class="checkbox-inline col-xs-6" data-toggle="tooltip" data-placement="bottom" title="Whether to transition the node positions">
        <input name="animate" type="checkbox" value="true" checked="checked"> Animate
    </label>
    <input name="fit" type="hidden" value="false">
    <label class="checkbox-inline col-xs-6" data-toggle="tooltip" data-placement="bottom" title="Whether to fit the viewport to the graph">
        <input name="fit" type="checkbox" value="true" checked="checked"> Fit
    </label>
    <input name="avoidOverlap" type="hidden" value="false">
    <label class="checkbox-inline col-xs-6" data-toggle="tooltip" data-placement="bottom" title="Prevents node overlap">
        <input name="avoidOverlap" type="checkbox" value="true" checked="checked"> Avoid Overlap
    </label>
    <input name="counterclockwise" type="hidden" value="false">
    <label class="checkbox-inline col-xs-6" data-toggle="tooltip" data-placement="bottom" title="Whether the layout should go counterclockwise">
        <input name="counterclockwise" type="checkbox" value="true"> Counterclockwise
    </label>
</div>

<div class="form-group col-xs-12">
    <label class="col-xs-3" for="padding" data-toggle="tooltip" data-placement="bottom" title="Padding on fit">Padding</label>
    <div class="col-xs-1">
        <input type="number" name="padding" id="padding" value="30">
    </div>
</div>