<div class='modal fade' id='myModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
  <div class='modal-dialog modal-lg'>
    <div class='modal-content'>
      <div class='modal-header' style='background:{{el.color}}'>
        <button type='button' class='close' data-dismiss='modal'><span aria-hidden='true'>&times;</span><span class='sr-only'>Close</span></button>
          <h4 style='color:#fff' class='modal-title' id='myModalLabel'><strong>{{el.id}}</strong> {{#if taxa}} - <small style='color:#fff'>{{taxa.scientificname}}</small> {{/if}}</h4>
      </div>
      <div class='modal-body'>
          <p><img src = 'loading.gif'></p>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>
      </div>
    </div>
  </div>
</div>