<!-- Begin Container -->
<div class="container">
    {{> search }}
    
    <div class="row">
        <div class="col-lg-4">
            <h2><span class="glyphicon glyphicon-info-sign"></span> About</h2>
            <p>The Interaction Atlas is an open-source web-based network visualization tool that aids the exploration of portein interactions.</p>
            <p>It collects and scores interactions from different databases.</p>
            <p><a class="btn btn-primary" href="#" role="button">More »</a></p>
        </div>
        <div class="col-lg-4">
          <h2><span class="glyphicon glyphicon-heart"></span> Open Source</h2>
          <p>The code to collect and generate the database as well as the front end visualization tool is open-source.</p>
          <p><a class="btn btn-primary" href="#" role="button">More »</a></p>
       </div>
        <div class="col-lg-4">
          <h2><span class="glyphicon glyphicon-cloud"></span> Programmatic Access</h2>
          <p>Programatic access to the Protein Interaction Atlas, is provided through <a href="https://code.google.com/p/psicquic/">PSICQUIC</a>, a web service that retrieves interactions in PSI-MITAB format.</p>
          <p><a class="btn btn-primary" href="https://code.google.com/p/psicquic/" role="button">More »</a></p>
        </div>
      </div>
    
    <!-- Begin Footer -->
    <footer class="footer">
        <p><a href="https://www.biochem.mpg.de" ><img width="150" height="36" src="LOGO-BIO-CMYK_100_en.jpg"></a></p>
    </footer>
    <!-- End Footer -->
</div> 
<!-- End Container -->