 <form id = {{formId}}>
    <div class="form-group">

        <br>
        <select class="form-control" name="name">
            <option value="breadthfirst">Breadthfirst</option>
            <option value="circle">Circle</option>
            <option value="cola">Cola</option>
            <option value="concentric" selected>Concentric</option>
            <option value="cose">Cose</option>
            <option value="grid">Grid</option>
            <option value="random">Random</option>
            <option value="springy">Springy</option>
        </select>
    </div>
    <div id="{{layoutOptsId}}"><br><br><br><br></div>
</form>
     