<div id="navbar"></div>
<div id="network" style="width: 100%; height: 100%;"></div>
<div id="sidemenu" class="side_container"></div>
<div id="logger"></div>
<div id="dialog"></div>
<div id="attr_dialog"></div>
