<form id='{{formId}}'>
    <div class="form-group col-xs-12">
        <br>
        <input name="trim" type="hidden" value="false">
        <label class="checkbox-inline col-xs-6">
            <input name="trim" type="checkbox" value="true" checked="checked"> Trim
        </label>
        <input name="legend" type="hidden" value="">
        <label class="checkbox-inline col-xs-6">
            <input name="legend" type="checkbox" value="data(id)" checked="checked"> Legend
        </label>
    </div>

    <div class="form-group col-xs-12">
        <label class="col-xs-3" for="score" data-toggle="tooltip" data-placement="bottom" title="Interactions scoring method">Score</label>
        <div class="col-xs-9">
            <select class="form-control" name="score">
                <option value="none" selected>None</option>
                {{#each scores}}
                    <option value="{{this.name}}">{{this.name}}</option>
                {{/each}}
            </select>
        </div>
    </div>

    <center>

        <label class="radio-inline">
            <input type="radio" name="scoreAttr" value="width" checked> Width
        </label>
        <label class="radio-inline">
            <input type="radio" name="scoreAttr" value="opacity"> Opacity
        </label>

    </center>

    <br>
    <center>
        <button id="{{refreshId}}" type="button" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh</button>
    </center>
</form>