<blockquote class="form-group col-xs-12">
    <footer>The <mark>random</mark> layout puts nodes in random positions within the viewport.</footer>
</blockquote>

<div class="form-group col-xs-12">
    <input name="animate" type="hidden" value="false">
    <label class="checkbox-inline col-xs-6" data-toggle="tooltip" data-placement="bottom" title="Whether to transition the node positions">
        <input name="animate" type="checkbox" value="true" checked="checked"> Animate
    </label>
    <input name="fit" type="hidden" value="false">
    <label class="checkbox-inline col-xs-6" data-toggle="tooltip" data-placement="bottom" title="Whether to fit the viewport to the graph">
        <input name="fit" type="checkbox" value="true" checked="checked"> Fit
    </label>
</div>

<div class="form-group col-xs-12">
    <label class="col-xs-3" for="padding" data-toggle="tooltip" data-placement="bottom" title="Padding on fit">Padding</label>
    <div class="col-xs-1">
        <input type="number" name="padding" id="padding" value="30">
    </div>
</div>