<!-- Sliding div starts here -->
<div id="sidemenu" class="side_container">
    <div class="side_handle">
        <button type="button" class="btn btn-success" aria-label="Left Align">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings
        </button>
    </div>
    <div class="side_content">
        
        <div class="sidebox form-group">
            <label>Layout</label>
            <select id="layout_selector" class="input-large" style="margin-left:20px">
                <option value="force">Force</option>
                <option value="radial">Radial</option>
                <option value="matrix">Matrix</option>
            </select>
        </div>
        
        <div id="matrix_opt" class="sidebox form-group">
            <label>Sort By</label>
            <select id="matrix_sort" class="input-large" style="margin-left:20px">
                <option value="id">Identifier</option>
                <option value="taxa">Taxonomy</option>
                <option value="weight">Weight</option>
                <option value="inQuery">In Query</option>
            </select>
        </div>
        
        <div id="radial_opt" class="sidebox form-group">
            <label>Tension</label>
            <br>
            <input id="radial_slider" type="text">
        </div>
        
        <div class="sidebox form-group">
            <a id='save' href='#'><span class='glyphicon glyphicon-floppy-disk' aria-hidden='true'> Save</span></a>
        </div>
        
        <div class="sidebox form-group">
            <a id='pathway' href='#'><span class='glyphicon glyphicon-th-list' aria-hidden='true'> Pathway Analysys</span></a>
        </div>
        
    </div>
</div>
<!-- Sliding div ends here -->