<!-- Sliding div starts here -->

<div class="side_content">
    
    <div role="tabpanel">

        <br>
        
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#layout" aria-controls="home" role="tab" data-toggle="tab">Visualization</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Options</a></li>
            <li role="presentation"><a href="#algorithms" aria-controls="profile" role="tab" data-toggle="tab">Algorithms</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="layout">
                <br>
                <div class="form-group col-xs-12">                        
                    <select class="form-control" name="vizopt">
                        <option value="general">General</option>
                        <option value="node">Node</option>
                        <option value="edge">Edge</option>
                    </select>
                </div>
                
                <form>
                    <div id="general" >


                            <div class="form-group col-xs-12">                        
                                <label class="col-xs-4">Background color</label>
                                <div class="col-xs-8">
                                    <input name="bgcolor" type="text" class="form-control minicolors-input" data-control="hue" value="#ffffff">
                                </div>
                            </div>

                            <div class="form-group col-xs-12">
                                <label class="col-xs-4">Trim</label>
                                <div class="col-xs-8"><input name="trim" type="checkbox"></div>
                            </div>
                    </div>
                    
                    
                    <div id="node">
                        <div class="form-group col-xs-12">                        
                            <label class="col-xs-3">Color</label>
                            <div class="col-xs-4">
                                <input name="background-color" type="text" class="form-control minicolors-input graph_attribute" data-control="hue" value="#ffffff">
                            </div>
                            <div class="btn-group col-xs-5" role="group">
                                <button style="height:34px" type="button" class="btn btn-default"><span class="glyphicon glyphicon-cog"></span></button>                  
                                <button style="height:34px" type="button" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span></button>
                            </div>
                        </div>
                        <div class="form-group col-xs-12">                        
                            <label class="col-xs-3">Shape</label>
                            <div class="col-xs-4">
                                 <select class="form-control graph_attribute" name="shape">
                                    <option value="ellipse">Ellipse</option>
                                    <option value="hexagon">Hexagon</option>
                                    <option value="heptagon">Heptagon</option>
                                    <option value="octagon">Octagon</option>
                                    <option value="pentagon">Pentagon</option>
                                    <option value="rectangle">Rectangle</option>
                                    <option value="roundrectangle">Round rectangle</option>
                                    <option value="star">Star</option>
                                    <option value="triangle">Triangle</option>
                                </select>
                            </div>
                            <div class="btn-group col-xs-5" role="group">
                                <button style="height:34px" type="button" class="btn btn-default"><span class="glyphicon glyphicon-cog"></span></button>                  
                                <button style="height:34px" type="button" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span></button>
                            </div>
                        </div>
                        <div class="form-group col-xs-12">                        
                            <label class="col-xs-3">Width</label>
                            <div class="col-xs-4">
                                <input name="width" class="form-control" type="number" min="1" value="20">
                            </div>
                            <div class="btn-group col-xs-5" role="group">
                                <button style="height:34px" type="button" class="btn btn-default"><span class="glyphicon glyphicon-cog"></span></button>                  
                                <button style="height:34px" type="button" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span></button>
                            </div>
                        </div>
                        <div class="form-group col-xs-12">                        
                            <label class="col-xs-3">Height</label>
                            <div class="col-xs-4">
                                <input name="height" class="form-control graph_attribute" type="number" min="1" value="20">
                            </div>
                            <div class="btn-group col-xs-5" role="group">
                                <button style="height:34px" type="button" class="btn btn-default"><span class="glyphicon glyphicon-cog"></span></button>                  
                                <button style="height:34px" type="button" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span></button>
                            </div>
                        </div>
                        
                        <div class="form-group col-xs-12">                        
                            <label class="col-xs-3">Opacity</label>
                            <div class="col-xs-4">
                                <input name="background-opacity" type="number" class="form-control graph_attribute" min="0" max="1" step="0.1" value="1">
                            </div>
                            <div class="btn-group col-xs-5" role="group">
                                <button style="height:34px" type="button" class="btn btn-default"><span class="glyphicon glyphicon-cog"></span></button>                  
                                <button style="height:34px" type="button" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span></button>
                            </div>
                        </div>
                        
                        <div class="form-group col-xs-12">                        
                            <label class="col-xs-3">Border width</label>
                            <div class="col-xs-4">
                                <input name="border-width" class="form-control graph_attribute" type="number" min="0" value="0">
                            </div>
                            <div class="btn-group col-xs-5" role="group">
                                <button style="height:34px" type="button" class="btn btn-default"><span class="glyphicon glyphicon-cog"></span></button>                  
                                <button style="height:34px" type="button" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span></button>
                            </div>
                        </div>
                        
                        <div class="form-group col-xs-12">                        
                            <label class="col-xs-3">Border Style</label>
                            <div class="col-xs-4">
                                <select class="form-control graph_attribute" name="border-style">
                                    <option value="dashed">Dashed</option>
                                    <option value="dotted">Dotted</option>
                                    <option value="double">Double</option>
                                    <option value="solid" selected>Solid</option>                                  
                                </select>
                            </div>
                            <div class="btn-group col-xs-5" role="group">
                                <button style="height:34px" type="button" class="btn btn-default"><span class="glyphicon glyphicon-cog"></span></button>                  
                                <button style="height:34px" type="button" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span></button>
                            </div>
                        </div>
                        
                        <div class="form-group col-xs-12">                        
                            <label class="col-xs-3">Border Color</label>
                            <div class="col-xs-4">
                                <input name="border-color" type="text" class="form-control minicolors-input graph_attribute" data-control="hue" value="#ffffff">
                            </div>
                            <div class="btn-group col-xs-5" role="group">
                                <button style="height:34px" type="button" class="btn btn-default"><span class="glyphicon glyphicon-cog"></span></button>                  
                                <button style="height:34px" type="button" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span></button>
                            </div>
                        </div>
                        
                        <div class="form-group col-xs-12">                        
                            <label class="col-xs-3">Border Opacity</label>
                            <div class="col-xs-4">
                                <input name="border-opacity" type="number" class="form-control graph_attribute" min="0" max="1" step="0.1" value="1">
                            </div>
                            <div class="btn-group col-xs-5" role="group">
                                <button style="height:34px" type="button" class="btn btn-default"><span class="glyphicon glyphicon-cog"></span></button>                  
                                <button style="height:34px" type="button" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span></button>
                            </div>
                        </div>
                        
                    </div>
                </form>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile"></div>
            <div role="tabpanel" class="tab-pane" id="algorithms"></div>
        </div>

    </div>
</div>
<!-- Sliding div ends here -->