<!-- Sliding div starts here -->

<div class="side_content">
    
    <div role="tabpanel">

        <br>
        
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#layout" aria-controls="home" role="tab" data-toggle="tab">Layout</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Options</a></li>
            <li role="presentation"><a href="#algorithms" aria-controls="profile" role="tab" data-toggle="tab">Algorithms</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="layout">
    
                <form id = {{formId}}>
                    <div class="form-group">
                        
                        <br>
                        <select class="form-control" name="name">
                            <option value="breadthfirst">Breadthfirst</option>
                            <option value="circle">Circle</option>
                            <option value="concentric" selected>Concentric</option>
                            <option value="cose">Cose</option>
                            <option value="grid">Grid</option>
                            <option value="random">Random</option>
                            <option value="springy">Springy</option>
                        </select>
                    </div>
                    <div id="{{layoutOptsId}}"></div>

                    <center>
                        <button id="{{refreshId}}" type="button" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh</button>
                    </center>
                </form>
            
            </div>
            <div role="tabpanel" class="tab-pane" id="profile"></div>
            <div role="tabpanel" class="tab-pane" id="algorithms"></div>
        </div>

    </div>
</div>
<!-- Sliding div ends here -->