<!-- Sliding div starts here -->
<div id="sidemenu" class="side_container">
    <div class="side_handle">
        <button type="button" class="btn btn-success" aria-label="Left Align">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings
        </button>
    </div>
    <div class="side_content">
        <div class="sidebox form-group">
            <label>Layout</label>
            <select id="layout_selector" class="input-large" style="margin-left:20px">
              <option value="force">Force</option>
              <option value="radial">Radial</option>
            </select>
        </div>
        <div class="sidebox form-group">
            <label>Nodes</label>
            <br>
            <input id="node_slider" type="text">
        </div>
        <div class="sidebox">
            <label>Query type</label>
        </div>
    </div>
</div>
<!-- Sliding div ends here -->