<!-- Sliding div starts here -->

<div class="side_content">
    
    <div role="tabpanel">

        <br>
        
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#layout" aria-controls="home" role="tab" data-toggle="tab">Layout</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Options</a></li>
            <li role="presentation"><a href="#algorithms" aria-controls="profile" role="tab" data-toggle="tab">Algorithms</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="layout">
                <h3 id="example-heading-new">General options</a></h3>
                
                <form id = {{formId}}>
                    
                    <div class="row">
                        <label class="col-md-4">Background color</label>
                        <div class="col-md-8">
                            <input name="bgcolor" type="text" class="form-control minicolors-input" data-control="hue" value="#ffffff">
                        </div>
                    </div>
                    
                    <div class="row">
                        <label class="col-md-4">Trim</label>
                        <div class="col-md-8"><input name="trim" type="checkbox"></div>
                    </div>
                    
                </form>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile"></div>
            <div role="tabpanel" class="tab-pane" id="algorithms"></div>
        </div>

    </div>
</div>
<!-- Sliding div ends here -->