
<blockquote class="form-group col-xs-12">
    <footer>The <mark>springy</mark> layout uses a force-directed physics simulation, written by <mark>Dennis Hotson.</mark></footer>
</blockquote>

<div class="form-group col-xs-12">
    <input name="animate" type="hidden" value="false">
    <label class="checkbox-inline col-xs-6" data-toggle="tooltip" data-placement="bottom" title="Whether to transition the node positions">
        <input name="animate" type="checkbox" value="true" checked="checked"> Animate
    </label>
    <input name="fit" type="hidden" value="false">
    <label class="checkbox-inline col-xs-6" data-toggle="tooltip" data-placement="bottom" title="Whether to fit the viewport to the graph">
        <input name="fit" type="checkbox" value="true" checked="checked"> Fit
    </label>
    <input name="random" type="hidden" value="false">
    <label class="checkbox-inline col-xs-6" data-toggle="tooltip" data-placement="bottom" title="Whether to use random initial positions">
        <input name="random" type="checkbox" value="true"> Random
    </label>
</div>

<div class="form-group col-xs-12">
    <label class="col-xs-3" for="padding" data-toggle="tooltip" data-placement="bottom" title="Padding on fit">Padding</label>
    <div class="col-xs-1">
        <input type="number" name="padding" id="padding" value="30">
    </div>
</div>

<div class="form-group col-xs-12">
    <label class="col-xs-3" for="stiffness" data-toggle="tooltip" data-placement="bottom" title="Tunes stiffness">Stiffness</label>
    <div class="col-xs-1">
        <input type="number" name="stiffness" id="stiffness" value="400">
    </div>
</div>

<div class="form-group col-xs-12">
    <label class="col-xs-3" for="repulsion" data-toggle="tooltip" data-placement="bottom" title="Tunes node repulsion">Repulsion</label>
    <div class="col-xs-1">
        <input type="number" name="repulsion" id="repulsion" value="400">
    </div>
</div>

<div class="form-group col-xs-12">
    <label class="col-xs-3" for="damping" data-toggle="tooltip" data-placement="bottom" title="Tunes damping">Damping</label>
    <div class="col-xs-1">
        <input type="number" name="damping" id="damping" value="0.5">
    </div>
</div>